@import "./reset.css";

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100dvh;
    background: linear-gradient(to bottom, #87CEEB, #2E8B57);
    border: 5px solid #8B4513;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.game-container {
    flex-direction: column;
    padding: 20px;
    background-image: linear-gradient(
                        100deg, rgb(255 255 255 / 0.08),
                        rgb(255 255 255 / 0.15), 
                        rgb(255 255 255 / 0.15), 
                        rgb(255 255 255 / 0.08)
                        );
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 0.15), 
                -1px -1px 1px 0 rgba(255 255 255 / 0.4);
    border-radius: 8px;  
}

.game-name {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2rem;
    color: rgb(153, 50, 204);
    margin-bottom: 20px;
    text-align: center;
}

.info-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 700;
}

.score {
    
    color: rgb(3, 3, 88);
}

.timer {
    display: flex;
    width: 70px;
    color: rgb(160, 20, 20);
}

.fa-clock {
    padding-top: 2px;
    margin-right: 5px;
    font-size: 20px;
}

.timer-value {
    padding-top: 2px;
}

.word-display {
    font-size: 2rem;
    color: rgb(101, 50, 204);
    margin-bottom: 20px;
}

.user-input {
    font-size: 1rem;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    pointer-events: none;
    box-shadow: 1px 1px 1px 0 rgb(0 0 0 / 0.5) inset, 
                -1px -1px 1px 0 rgb(255 255 255 / 0.35) inset;
    border-radius: 5px;
}

.start-button {
    font-size: 1rem;
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.game-over-message {
    height: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #020202;
    margin-top: 20px;
    margin-bottom: 40px;
    white-space: pre-line;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.modal-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(153, 50, 204);
    margin-bottom: 10px;
}

.modal-content {
    position: relative;
    background: #fff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 5px;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 23px;
    font-size: 2.5rem;
    color: #020202;
    background: transparent;
    border: none;
    cursor: pointer;
}

.restart-button {
    font-size: 1rem;
    margin-top: 20px;
    padding: 10px 21.5px;
    background-color: #e8582c;
    color: #fff;
    border: none;
    border-radius: 5px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 1.5s infinite;
}

/* Media Queries */
@media screen and (max-width: 380px) {
    .game-container {
        width: 90%;
    }
    .modal-content {
        padding: 20px;
    }
    .info-container {
        width: 70%;
    }
    .game-name,
    .word-display {
        font-size: 1.5rem;
    }
    .game-over-message {
        font-size: 1.2rem;
        padding: 10px 0;
    }
}